* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #000;
  background: #fff;
  overflow-x: hidden;
  height: 100%;
}

body, input, button, textarea {
  font: 600 18px Lato, sans-serif;
}  